HTTP/1.0 503 Service Unavailable
Cache-Control: no-cache
Connection: close
Content-Type: text/html

<!DOCTYPE html>
<html>
<head>
  <title>Dienst nicht erreichbar (Fehler 503)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
    html {
      box-sizing: border-box;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    body {
      font-family: 'Open Sans', sans-serif;
      color: #363F49;
      background: #EBECED;
    }
    .error {
      width: 680px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 140px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 70px;
      border-bottom: 1px solid #CCCFD1;
      box-shadow: 0 1px 0 white;
    }
    @media only screen and (max-width: 767px) {
      .error {
        width: 100%;
        margin: 70px 0 0 0;
        padding: 0 10px 70px 10px;
      }
    }
    h1 {
      font-size: 35pt;
      font-weight: normal;
      margin: 0 0 12px 0;
      padding: 0;
      color: #CCCCCC;
      text-shadow: 1px 1px 1px white;
      line-height: 100%;
    }
    h2 {
      font-size: 26pt;
      font-weight: normal;
      margin: 0;
      padding: 0;
      color: #363F49;
      line-height: 120%;
    }
    p {
      font-size: 14pt;
      margin: 12px 0;
      line-height: 18pt;
    }
    a:link,
    a:visited {
      color: #56A24F;
    }
    a:hover,
    a:active,
    a:focus {
      color: #66BA5D;
    }
    .backlink:link,
    .backlink:visited {
      font-size: 17px;
      color: white;
      background-color: #66BA5D;
      color: white;
      margin-top: 17px;
      display: inline-block;
      border-radius: 9px;
      padding: 14px 18px;
      text-decoration: none;
    }
    .backlink:hover,
    .backlink:active,
    .backlink:focus {
      background-color: #56A24F;
      color: white;
    }
  </style>
</head>

<body>

  <div class='error'>
    <h1>Fehler 503 (API)</h1>
    <h2>Es tut uns leid, die Projekt-Datenbank ist derzeit nicht erreichbar.</h2>
    <p>M&ouml;glicherweise wird gerade eine Wartung durchgef&uuml;hrt.</p>
  </div>

<script>
var gaProperty = 'UA-52718422-1';
var disableStr = 'ga-disable-' + gaProperty;
if (document.cookie.indexOf(disableStr + '=true') > -1) {
  window[disableStr] = true;
}
function gaOptout() {
  document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
  window[disableStr] = true;
}
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52718422-1', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('require', 'linkid');
  ga('require', 'displayfeatures');
  ga('set', 'dimension1', location.hostname);
  ga('send', 'pageview');
</script>

</body>
</html>
